

//var $skyBlue = #97F1E7;
//var $black = #1E1D24;

header{
  margin-bottom: 0;
  background-color: #1E1D24;
  color:  #FFFFFF;
  width: 28em;
  height: 3.2em;
  font-family: fantasy;
  font-size: 3em;
}

.highlight{
  margin-top: 0;
  background-color: #97F1E7;
  width: 84em;
  height: 17em;
}
.highlight h1{
  margin: 0;
  color: #1E1D24;
  font-size: 3em;
}
.highlight p{
  font-size: 1.2em;
  color: #5A8785;
}
.highlight-nav{
  border-bottom: solid #B3B3B4 1px;
  background-color: #FFFFFF;
  font-size: .6em;
  width: 168em;
  height: 3em;
}
.advertisement{
  margin-top: 0;
  background-color: #97F1E7;
  width: 84em;
  height: 17em;
}
.advertisement h2{
  color:  #FFFFFF;
}
.advertisement p{
  color: #C3F7F1;
}
.advertisement nav{

}
.advertisement button{

}